.list {
    width: 440px;
    padding: 24px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.item {
    border-radius: 8px;
    padding: 16px;
    background-color: #f6f6fe;
    min-width: 392px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.after-title {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.item-list {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    max-height: 40px;
}